html, body {
    font-family: Lato, sans-serif;
    color: #424551;
    font-size: 16px;
    line-height: 160%;
}

.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    background: linear-gradient(55deg, #FF3F3A 0%, #F75E05 100%);
    letter-spacing: 0.5px;
    line-height: 52px;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
    padding: 0 40px;
    transition: all .4s;
    display: inline-block;
}

.button--empty {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-clip: text;
    text-fill-color: transparent; */
    border: 1px solid;
    border-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-image-slice: 1;
}

.button:hover {
    transform: scale(1.05);
}

.about__heading {
    margin-bottom: 48px;
}

.heading {
    color: #1e212c;
}

.heading--text-center {
    text-align: center;
}

.about__heading-subtitle {
    line-height: 150%;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.about__heading-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.main__about {
    padding: 180px 0 160px;
}

.main__directions {
    padding-bottom: 180px;
}

.main__sert {
    margin-bottom: -46px;
}

.main__team {
    padding: 160px 0px 180px;
}

/* ////////////////////////////////////////////////////////////////////////// */

.header {
    display: flex;
    background: url(../img/decor/Group.svg) 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    flex-direction: column;
}

.header__top {
    font-weight: 700px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    font-weight: 700;
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
    margin-right: 36px;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    font-weight: 700;
}

.header__user-nav {
    display: flex;
    position: relative;
    padding-left: 28px;
    align-items: center;
}

.header__user-nav::before {
    content: "";
    background: url(../img/block1/user-icon.svg) no-repeat;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 20px;
}

/* //////////////////////////////////////////// */

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1E212C;
    margin: 100px 0;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play-icon {
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.header__play-icon:hover {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 1px;
    min-width: 500px;
    margin-bottom: 60px;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__row>span {
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    border-radius: 50%;
    margin: 0 15px;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    margin-right: 12px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

/* ////////////////////////////////////////////////////////////// */

.main {}

.about {}

.container {}

.about__inner {}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-bottom: 180px;
}

.about__createx::before {
    content: "";
    position: absolute;
    top: -80px;
    right: -150px;
    background: url(../img/block2/Group2.svg);
    width: 100px;
    height: 85px;
    opacity: 0.2;
}

.about__createx-content {
    max-width: 600px;
}

.about__text {
    margin-bottom: 60px;

}

.about__paragraph {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.about__paragraph:last-child {
    margin-bottom: 0px;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
}

.about__btn-box {
    display: flex;
}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0px;
}

.about__img {}

.about__values {
    display: flex;
    justify-content: space-between;
}

.about__img-box {
    border-radius: 4px;
}

.about__img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: 30px;
    align-self: center;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
}

.about__number:last-child {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}


.about__numbers span {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 16px;
}

/* ///////////////////////////////////////// */

.directions {}


.directions__inner {
    position: relative;
}

.directions__inner::before {
    content: "";
    position: absolute;
    top: 40px;
    left: -180px;
    width: 136px;
    height: 115px;
    background: url(../img/block3/dec1.svg) 0 0 no-repeat;

}

.directions__inner::after {
    content: "";
    position: absolute;
    top: 380px;
    right: -450px;
    width: 243px;
    height: 243px;
    background: url(../img/block3/dec2.svg) 0 0 no-repeat;
    opacity: 0.12;
}

.directions__heading {
    margin-bottom: 90px;
}

.about__heading-subtitle {}

.about__heading-title {}

.directions__body {}

.directions__filter-box {
    display: flex;
    margin-bottom: 56px;
}

.directions__filter-btn {
    background-color: transparent;
    color: #9A9CA5;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 8px;
}

.directions__filter-btn--active {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
    color: #fff;
}

.directions__filter-item {
    margin-right: 45px;
}

.directions__filter-item:last-child {
    margin-right: 45px;
}

.directions__item {}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}

.directions__list-item {
    border-radius: 4px;
}

.directions__list-link {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1s;
}

.directions__list-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
    color: #FF3F3A;
    transition: all .3s;
}

.directions__imgage-box {}

.directions__imgage-box img {
    height: 100%;
    width: 100%;
}

.directions__link-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.directions__link-tag {
    line-height: 1;
    padding: 6px 8px;
    font-weight: 700;
    color: #fff;
    background-color: #F75E05;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.derections__link-text {
    color: #787A80;
    margin-bottom: 20px;
}

.directions__link-btn {
    color: #1E212C;
    font-weight: 700;
    transition: all .3s;
}

.directions__link-btn::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/block3/arrow.svg) 0px 7px / 100% no-repeat;
    margin-left: 11px;
}

.directions__list-item--empty {
    background: #F4F5F7;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.directions__list-item--empty span {
    max-width: 242px;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: #03CEA4;
}

.directions__list-item--managment .directions__link-tag {
    background-color: #5A87FC;
}

.directions__list-item--hr .directions__link-tag {
    background-color: #F89828;
}

.directions__list-item--design .directions__link-tag {
    background-color: #F52F6E;
}

.directions__list-item--development .directions__link-tag {
    background-color: #7772F1;
}

.directions__list-item--empty .directions__link-tag {
    background-color: #fff;
}

/* //////////////////////////////////////////////////////////////*/


.sert {}

.sert__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sert__inner::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -190px;
    width: 60px;
    height: 60px;
    background: url(../img/block3/dec3.svg) 0 0 no-repeat;

}

.sert__content {
    margin-right: 30px;
    min-width: 400px;
}

.sert__heading {
    margin-bottom: 50px;
}

.sert__text {
    margin-bottom: 30px;
}

.cert__logos {
    display: flex;
}

.cert__logos-item {
    margin-right: 40px;
}

.cert__logos-item:last-child {
    margin-right: 0px;
}

.sert__imgage-box {}

.sert__imgage-box {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

/* /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// */



.team {
    background: url(../img/block3/decor.svg) no-repeat 200px 40px, #f4f5f7;
}

.team__inner {}

.team__heading {
    position: relative;
}

.about__heading-subtitle {}

.about__heading-title {}

.team__slider {}

.team__slider .slick-list {
    margin: 0 -15px;
}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials{
    transform: translateY(0%);
}

.team__image-box {
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.team__image {
    position: relative;
    height: 340px;
}

.team__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.team__socials {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    transform: translateY(50%);
    transition: all .3s;
}


.team__socials-item {
    margin-right: 12px;
}
.team__socials-item:last-child {
    margin-right: 0px;
}

.team__socials-link {
    display: block;
}
.team__socials-link path{
    transition: all .3s;
}
.team__socials-link:hover path{
    fill: #fff;
}

.team__info {
    text-align: center;
}

.team_info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 4px;
}

.team__info-position {
    color: #787A80;
}
.team__slider-arrows {
    position: absolute;
    top: 0;
    right: 0;
}
.team__slider-arrows {
    display: flex;
}
.team__slider-arrow {
    border-radius: 50%;
    line-height: 0;
    display: block;
    position: relative;
}
.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    background-color: #ff3f3a;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    transition: all .3s;
}
.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
.team__slider-arrow path {
    transition: all .3s;
}
.team__slider-arrow:hover path {
    fill: #fff;
}
.team__slider-prev {
    margin-right: 24px;
}
.team__slider-next {
}