html, body {
    font-family: Lato, sans-serif;
    color: #424551;
    font-size: 16px;
    line-height: 160%;
}

.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    background: linear-gradient(55deg, #FF3F3A 0%, #F75E05 100%);
    letter-spacing: 0.5px;
    line-height: 52px;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
    padding: 0 40px;
    transition: all .4s;
    display: inline-block;
}

.button--empty {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-clip: text;
    text-fill-color: transparent; */
    border: 1px solid;
    border-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-image-slice: 1;
}

.button:hover {
    transform: scale(1.05);
}

.about__heading {
    margin-bottom: 48px;
}

.heading {
    color: #1e212c;
}

.heading--text-center {
    text-align: center;
}

.about__heading-subtitle {
    line-height: 150%;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.about__heading-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.main__about {
    padding: 180px 0 160px;
}

.main__directions {
    padding-bottom: 180px;
}

.main__sert {
    margin-bottom: -46px;
}

.main__team {
    padding: 160px 0px 180px;
}

.main__testimonials {
    padding-bottom: 195px;
}

.main__companies {
    padding-bottom: 177px;
}

.main__program {
    padding: 115px 0 185px;
}

.main__blog {
    margin-bottom: 200px;
}

.main__info {
    padding-bottom: 180px;
}

.main__questions {
    padding-bottom: 180px;
}

/* ////////////////////////////////////////////////////////////////////////// */

.header {
    display: flex;
    background: url(../img/decor/Group.svg) 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    flex-direction: column;
}

.header__top {
    font-weight: 700px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    font-weight: 700;
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
    margin-right: 36px;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    font-weight: 700;
}

.header__user-nav {
    display: flex;
    position: relative;
    padding-left: 28px;
    align-items: center;
}

.header__user-nav::before {
    content: "";
    background: url(../img/block1/user-icon.svg) no-repeat;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 20px;
}

/* //////////////////////////////////////////// */

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1E212C;
    margin: 100px 0;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play-icon {
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.header__play-icon:hover {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 1px;
    min-width: 500px;
    margin-bottom: 60px;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__row>span {
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    border-radius: 50%;
    margin: 0 15px;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    margin-right: 12px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

/* ////////////////////////////////////////////////////////////// */

.main {}

.about {}

.container {}

.about__inner {}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-bottom: 180px;
}

.about__createx::before {
    content: "";
    position: absolute;
    top: -80px;
    right: -150px;
    background: url(../img/block2/Group2.svg);
    width: 100px;
    height: 85px;
    opacity: 0.2;
}

.about__createx-content {
    max-width: 600px;
}

.about__text {
    margin-bottom: 60px;

}

.about__paragraph {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.about__paragraph:last-child {
    margin-bottom: 0px;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
}

.about__btn-box {
    display: flex;
}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0px;
}

.about__img {}

.about__values {
    display: flex;
    justify-content: space-between;
}

.about__img-box {
    border-radius: 4px;
}

.about__img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: 30px;
    align-self: center;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
}

.about__number:last-child {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}


.about__numbers span {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 16px;
}

/* ///////////////////////////////////////// */

.directions {}


.directions__inner {
    position: relative;
}

.directions__inner::before {
    content: "";
    position: absolute;
    top: 40px;
    left: -180px;
    width: 136px;
    height: 115px;
    background: url(../img/block3/dec1.svg) 0 0 no-repeat;

}

.directions__inner::after {
    content: "";
    position: absolute;
    top: 380px;
    right: -450px;
    width: 243px;
    height: 243px;
    background: url(../img/block3/dec2.svg) 0 0 no-repeat;
    opacity: 0.12;
}

.directions__heading {
    margin-bottom: 90px;
}

.about__heading-subtitle {}

.about__heading-title {}

.directions__body {}

.directions__filter-box {
    display: flex;
    margin-bottom: 56px;
}

.directions__filter-btn {
    background-color: transparent;
    color: #9A9CA5;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 8px;
}

.directions__filter-btn--active {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
    color: #fff;
}

.directions__filter-item {
    margin-right: 45px;
}

.directions__filter-item:last-child {
    margin-right: 45px;
}

.directions__item {}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}

.directions__list-item {
    border-radius: 4px;
}

.directions__list-link {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1s;
}

.directions__list-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
    color: #FF3F3A;
    transition: all .3s;
}

.directions__imgage-box {}

.directions__imgage-box img {
    height: 100%;
    width: 100%;
}

.directions__link-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.directions__link-tag {
    line-height: 1;
    padding: 6px 8px;
    font-weight: 700;
    color: #fff;
    background-color: #F75E05;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.directions__link-text {
    color: #787A80;
    margin-bottom: 20px;
}

.directions__link-btn {
    color: #1E212C;
    font-weight: 700;
    transition: all .3s;
}

.directions__link-btn::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/block3/arrow.svg) 0px 7px / 100% no-repeat;
    margin-left: 11px;
}

.directions__list-item--empty {
    background: #F4F5F7;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.directions__list-item--empty span {
    max-width: 242px;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: #03CEA4;
}

.directions__list-item--managment .directions__link-tag {
    background-color: #5A87FC;
}

.directions__list-item--hr .directions__link-tag {
    background-color: #F89828;
}

.directions__list-item--design .directions__link-tag {
    background-color: #F52F6E;
}

.directions__list-item--development .directions__link-tag {
    background-color: #7772F1;
}

.directions__list-item--empty .directions__link-tag {
    background-color: #fff;
}

/* //////////////////////////////////////////////////////////////*/


.sert {}

.sert__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sert__inner::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -190px;
    width: 60px;
    height: 60px;
    background: url(../img/block3/dec3.svg) 0 0 no-repeat;

}

.sert__content {
    margin-right: 30px;
    min-width: 400px;
}

.sert__heading {
    margin-bottom: 50px;
}

.sert__text {
    margin-bottom: 30px;
}

.cert__logos {
    display: flex;
}

.cert__logos-item {
    margin-right: 40px;
}

.cert__logos-item:last-child {
    margin-right: 0px;
}

.sert__imgage-box {}

.sert__imgage-box {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

/* /////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// */



.team {
    background: url(../img/block3/decor.svg) no-repeat 200px 40px, #f4f5f7;
}

.team__inner {}

.team__heading {
    position: relative;
}

.about__heading-subtitle {}

.about__heading-title {}

.team__slider {}

.team__slider .slick-list {
    margin: 0 -15px;
}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
}

.team__image-box {
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.team__image {
    position: relative;
    height: 340px;
}

.team__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.team__socials {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    transform: translateY(50%);
    transition: all .3s;
}


.team__socials-item {
    margin-right: 12px;
}

.team__socials-item:last-child {
    margin-right: 0px;
}

.team__socials-link {
    display: block;
}

.team__socials-link path {
    transition: all .3s;
}

.team__socials-link:hover path {
    fill: #fff;
}

.team__info {
    text-align: center;
}

.team_info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 4px;
}

.team__info-position {
    color: #787A80;
}

.team__slider-arrows {
    position: absolute;
    top: 0;
    right: 0;
}

.team__slider-arrows {
    display: flex;
}

.team__slider-arrow {
    border-radius: 50%;
    line-height: 0;
    display: block;
    position: relative;
    z-index: 5;
}

.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    background-color: #ff3f3a;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    transition: all .3s;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team__slider-arrow path {
    transition: all .3s;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-prev {
    margin-right: 24px;
}

.team__slider-next {}

/* ////////////////////////////////////////////// */
.main__testimonials {}

.testimonials {
    position: relative;
    background: #f4f5f7;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -49%);
    background: url(../img/block4/bg.svg) 0 0 / 100% no-repeat;
    height: 916px;
    width: 1971px;
}

.testimonials__inner {
    position: relative;
    z-index: 1;
}

.test__heading {
    margin-bottom: 60px;
}

.testimonials__slider-wrapper {
    padding: 0 50px;
    position: relative;
    margin-bottom: 50px;
}

.testimonials__slider {
    max-width: 1020px;
    margin: 0 auto;
}

.testimonials__slide {
    padding: 64px;
    background-color: #fff;
    border-radius: 4px;
}

.testimonials__slide-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}

.testimonials__quote {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    position: relative;
}

.testimonials__quote::before {
    content: "";
    width: 28px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -58px;
    background: url(../img/block4/braces.svg) 0 0 / 100% no-repeat;
}

.testimonials__user {
    display: flex;
    align-items: center;
}

.testimonials__avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.testimonials__info {}

.testimonials__info-name {
    color: #1E212C;
    font-weight: 700;
    margin-bottom: 4px;
}

.testimonials__info-position {
    color: #787A80;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}

.testimonials__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    align-items: center;
    z-index: 5;
}

.testimonials__arrow path {
    transition: all .3s;
}

.testimonials__arrow::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    background-color: #ff3f3a;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s;
}

.testimonials__arrow svg {
    left: 0;
    justify-self: flex-start;
}

.testimonials__prev {
    left: 0;
}

.testimonials__prev::before {
    left: 20%;
    transform: translate(-50%, -50%) scale(0);
}

.testimonials__next {
    right: 0;
    justify-content: flex-end;

}

.testimonials__next::before {
    left: 80%;
    transform: translate(-50%, -50%) scale(0);

}

.testimonials__arrow:hover path {
    fill: #fff;
}

.testimonials__prev:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials__next:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__dots li {
    margin-right: 12px;
}

.testimonials__dots li:last-child {
    margin-right: 12px;
}

.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}

.testimonials__dots button::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #B3B7BC;
    border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
    background-color: #424551;
    transition: all .3s;
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////// */


.companies {
    background: #F4F5F7;
}

.companies__inner {
    position: relative;
}

.companies__inner::before {
    position: absolute;
    content: "";
    top: 350px;
    left: -240px;
    width: 90px;
    height: 90px;
    background: url(../img/block4/Group2.svg) 0 0 / 100% no-repeat;
}

.companies__heading {
    margin-bottom: 60px;
}

.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 40px 100px;
}

.companies__grid-item {}

.companies__grid-link {
    display: block;
}

.companies__grid-link img {
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    opacity: 0.6;
    transition: all 1.3s;
}

.companies__grid-link:hover img {
    height: 100%;
    width: 100%;
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s;
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
.program {}

.program__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program__content {
    margin-right: 30px;
    max-width: 600px;
}

.program__heading {
    margin-bottom: 60px;
}

.program__accrodeon {}

.program__acc-item {
    margin-bottom: 24px;
}

.program__acc-link {
    padding-left: 40px;
    display: block;
}

.program__acc-item:last-child {
    margin-bottom: 0px;
}

.program__acc-head {
    font-weight: 700;
    line-height: 150%;
    font-size: 20px;
    color: #1E212C;
    position: relative;
}

.program__acc-head span {
    font-weight: 400;
    color: #FF3F3A;
}

.program__acc-head::before,
.program__acc-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: #FF3F3A;
    border-radius: 2px;
}

.program__acc-head::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.program__acc-text {
    margin-top: 16px;
}

.program__acc-link--active .program__acc-head::after {
    transform: rotate(0deg);
}

.program__img {}

/* /////////////////////////////////////////// */
/* /////////////////////////////////////////// */


.blog {}

.blog__inner {}

.Blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.blog__heading {
    margin-right: 30px;
}

.blog__btn {}

.blog__row {
    display: flex;
    margin: 0 -15px;
}

.blog__item {
    padding: 0 15px;
}

.blog__item-link {
    display: block;
    transition: all 1.3s;
}

.blog__item-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all .3s;
}

.blog__item-link:hover .blog__item-btn {
    color: #FF3F3A;
    transition: all .3s;
}

.blog__item-inner {}

.blog__image-box {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 390px;
    height: 300px;
    margin-bottom: 16px;
}

.blog__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__image-box span {
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    background: #FFFFFF;
    padding: 1px 8px;
    margin-right: 4px;
}

.blog__image-box span::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
}

.blog__item-content {}

.blog__item-info {
    display: flex;
    margin: 0 -12px 8px;
}

.blog__info-el {
    padding: 0 12px;
    position: relative;
    color: #787A80;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.blog__info-el::after {
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #787A80;
}

.blog__info-el:last-child::after {
    content: none;
}

.blog__info-date {
    display: flex;
    align-items: center;
}

.blog__info-date::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/block5/Calendar.svg) 0 0 / 100% no-repeat;
    margin-right: 9px;
}

.blog__info-time {
    display: flex;
    align-items: center;
}

.blog__info-time::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/block5/clock.svg) 0 0 / 100% no-repeat;
    margin-right: 9px;
}

.blog__info-time {}

.blog__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
}

.blog__item-text {
    margin-bottom: 16px;
}

.blog__item-btn {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #1E212C;
}

.blog__item-btn::after {
    content: "";
    width: 18px;
    height: 12px;
    background: url(../img/block5/LineStroke.svg) 0 0 / 100% no-repeat;
    margin-left: 8px;
}

.blog__item--podcast .blog__image-box span::before {
    background: url(../img/block5/micro-icon.svg) 0 0 / 90% no-repeat;
}

.blog__item--video .blog__image-box span::before {
    background: url(../img/block5/video-icon.svg) 0 0 / 100% no-repeat;
}

.blog__item--article .blog__image-box span::before {
    background: url(../img/block5/pdf-icon.svg) 0 0 / 100% no-repeat;
}

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */


.info {}

.info__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.info__content {
    margin-right: 30px;
}

.info__heading {
    margin-bottom: 40px;
}

.info__contacts {
    margin-bottom: 50px;
}

.info__contacts-item {
    margin-bottom: 24px;
    padding-left: 24px;
}

.info__contacts-item:last-child {
    margin-bottom: 0;
}


.info__item-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    position: relative;
}

.info__item-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 24px;
    height: 24px;
}

.info__item-link {
    font-size: 18px;
    line-height: 150%;
    transition: all .3s;
}

.info__item-link:hover {
    color: #FF3F3A;
}

.info__mail .info__item-top::before {
    background: url(../img/block5/chat-icon.svg) 0 0 / 100% no-repeat;
}

.info__tel .info__item-top::before {
    background: url(../img/block5/phone-icon.svg) 0 0 / 100% no-repeat;
}

.info__address .info__item-top::before {
    background: url(../img/block5/tag-icon.svg) 0 0 / 100% no-repeat;
}

.info__address {
    font-size: 18px;
    line-height: 150%;
}

.info__follow {}

.info__follow-head {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;

}

.info__socials {
    display: flex;
}

.info__socials-item {
    margin-right: 32px;
}

.info__socials-item:last-child {
    margin-right: 0px;
}

.info__socials-link path {
    transition: all .3s;
}

.info__socials-link:hover path {
    fill: #000;
}

.info__map {
    height: 412px;
    width: 100%;
    max-width: 705px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow: hidden;
}


/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */


.questions {}

.questions__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions__img {}

.questions__content {
    margin-left: 30px;
}

.questions__heading {
    margin-bottom: 40px;
}

.questions__form {}


.questions__form-row {
    display: flex;
    margin-bottom: 24px;
}

.questions__form-label {
    margin-right: 25px;
    flex: 1 1 auto;
}
.questions__form-label:last-child {
    margin-right: 0;
}
.questions__text-label{
    display: block;
    margin-bottom: 50px;
}
.questions__form-input,
.questions__form-text {
    display: block;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    padding: 13px 16px;
    width: 100%;
    margin-top: 8px;
}
.questions__form-input::placeholder,
.questions__form-text::placeholder {
    color: #9A9CA5;
}

.questions__form-input {
    
}

.questions__form-text {
    resize: none;
    height: 128px;
}

.questions__checkbox-label{
    margin-right: 50px;
    display: flex;
    width: 100%;
}
.questions__form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin-top: 5px;
    margin-right: 12px;
}

.questions__form-default {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.questions__form-default:checked + .questions__form-custom{
    background: url(../img/block5/check.svg)50% 50% no-repeat, #FF3F3A;
}

.questions__form-custom {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #FF3F3A;
    border-radius: 3px;
    cursor: pointer;
}

.questions__form-btn {
    width: 100%;
    align-self: center;
}
.que {
    text-align: center;
    font-size: 16px;
}